.pagination{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.pagination__item{
    margin-left: 3px;
}


@media (max-width: 575px) {
    .pagination__item{
        margin-bottom: 5px;
    }
}